<section class="container secundario">
  <img src="../../../assets/img/Plataformas.png" alt="um monitor e um celular com o alura plus aberto">
  <div class="container__descricao">
      <h2 class="descricao__titulo">Assista do seu jeito</h2>
      <p class="descricao__texto">Aproveite a tela grande da TV ou assista no tablet,laptop,celular e outros aparelhos.Nossa seleção de cursos não para de crescer.</p>

  </div>
</section>

<section class="container secundario">
  <div class="container__descricao">
      <p class="descricao__texto">Só o combo+ e Alura lingua juntos para voçe ter acesso a cursos en diversas áreas da tecnologia e aprender inglês e espanhol,onde e como quiser.</p>
      <a href="www.alura.com.br" class="container__botao secundario__botao">Assinar o combo+
      </a>
  </div>
  <img src="../../../assets/img/Telas.png" alt="tela da alura plus e do alura lingua" class="secundario__imagem">
</section>

<section class="container secundario">
  <img src="../../../assets/img/Notebook.png" alt="Aproveite seus cursos offline">
  <div class="container__descricao">
      <h1 class="container__titulo">Baixe seus cursos</h1>
      <p class="descricao__texto">Baixe e assista quando e onde quiser.Assim,seus favoritos estão sempre com voçê,até mesmo sem internet</p>
  </div>
</section>
