
<body>

  <div class="container__caixa principal container__principal">
    <div class="container__principal__child">
      <h1 class="container__titulo">Com o Congo+,você pode aproveita a Alura+ e o Alura lingua por um preço único.</h1>
      <img src="../../../assets/img/Combo.png" alt="o combo+ é a junção do alura+ e o alura lingua" class="container__imagem">
      <a href="www.alura.com.br" class="container__botao">Assine por 12x de R$ 120,00*</a>
      <a href="www.alura.com.br" class="container__botao botao__secundario">Assinar somente o alura+</a>
      <p class="container__aviso">*o preço pode variar caso a assinatura seja feita em outros planos. </p>
    </div>

    <div class="container__principal__child">
    </div>
  </div>

</body>
