:root{
  --branco-principal: #ffffff;
  --cinza-secondario: #c0c0c0;
  --botao-principa: #167bf7;
  --cor-de-fundo: #00030c;
  --fonte-principal: 'inter';
  --botao-azul-efeito: hsl(213, 62%, 53%);
}
