<section class="dispositivos">
  <h2 class="dispositivos__titulo">Disponivel nos seus dispositivos favoritos</h2>
  <ul class="dispositivos__lista">
      <li>
          <img src="../../../assets/img/tv.png" alt="icone tv">
          <h3 class="lista__item">TV</h3>
      </li>
      <li>
          <img src="../../../assets/img/computador.png" alt="icone computador">
          <h3 class="lista__item">
          computadores</h3>
      </li>
      <li>
          <img src="../../../assets/img/celular.png" alt="icone celular">
          <h3 class="lista__item">
          Celular</h3>
      </li>
  </ul>
</section>
